  <footer class="site-footer">
    <p class="copyright">
      <span class="copyright-char">&copy;</span> <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> surVeyrAptor
    </p>
  </footer>

  </body>
</html>
