  <footer class="site-footer">
    <p class="copyright">
      &copy; <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> SurveyRaptor
    </p>
  </footer>

  </body>
</html>
