  <footer class="site-footer">
    <p class="copyright">
      <span class="copyright-char">&copy;</span> <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> surVeyrAptor
    </p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/index.js" type="text/javascript"></script>
  </body>
</html>
