<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <head>
    <title>SurveyRaptor</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
  </head>
  <body>

  <header class="site-header">
    <a class="logo" href="/">
      <% include _logo %>
    </a>

    <div class="site-header--nav">
      <a href="/auth/slack">
        <img
          class="slack-button"
          alt="Add to Slack"
          src="https://platform.slack-edge.com/img/add_to_slack.png"
          srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"
        />
      </a>
    </div>
  </header>
