<div class="content--home-alternating-first">
  <img src="/graph.jpeg" alt="Beautiful graph data on a computer screen">
  <div class="content--home-alternating--info-first">
    <h2>
      Understand your team's <span class="emphasized-text">values</span> and <span class="emphasized-text">strengths</span>.
    </h2>
    <p>
      Our polling allows you to assess your team's interest and motivations. Survey Raptor is helpful for gauging traction and buy-in, as well as for onboarding new projects.
    </p>
    <p>
      We use linguistic analysis of written text and language tones to pinpoint your team's strengths.
    </p>
  </div>
</div>

<div class="content--home-alternating-second">
  <div class="content--home-alternating--info-second">
    <h2>
      Open and Transparent Big 5 Value Assessements
    </h2>
    <p>
      As team members respond to polls, we identify their strengths and values. We value openness and transparency. All team members can create polls and see their team members' strengths.
    </p>
    <p>
      Personality profiles become more accurate and evolve over time.
    </p>
  </div>
  <img src="/double-chat-bubbles.jpeg" alt="Chat bubbles on a pink background">
</div>
