<div class="content--home-hero">
  <div class="content--home-hero--info">
    <h2>
      SurveyRaptor is a survey tool.
    </h2>
    <p>
      We’re an alternative market research tool that doesn’t employ a GUI for the survey responder, but is easily customizable for the researcher. It’s simple. We like simple. GUI rhymes with ewy. Coincidence? I think not.
    </p>
  </div>
</div>
