<div class="content--home-alternating-first">
  <img src="/graph.jpeg" alt="Beautiful graph data on a computer screen">
  <div class="content--home-alternating--info-first">
    <h2>
      Displaying beautiful data in a <span class="emphasized-text">fabulous</span> way.
    </h2>
    <p>
      Your data is kind. Your data is smart. Your data is important. Do you like writing reports? Of course not. Let us handle those pretty reports for you.
    </p>
    <p>
      High five, you.
    </p>
  </div>
</div>

<div class="content--home-alternating-second">
  <div class="content--home-alternating--info-second">
    <h2>
      A platform agnostic surveying tool.
    </h2>
    <p>
      We’re building out an API so that users aren’t overwhelmed with yet another GUI. Who needs another GUI? Not me!
    </p>
    <p>
      (But to be clear, GUI’s are cool.)
    </p>
  </div>
  <img src="/double-chat-bubbles.jpeg" alt="Chat bubbles on a pink background">
</div>
