<div class="content--home-hero">
  <div class="content--home-hero--info">
    <h2>
      surVeyrAptor helps you better know your team
    </h2>
    <p>
      We're a polling tool for Slack that helps you gauge decisions that will affect your team by building personality profiles that adjust and evolve over time.
    </p>
  </div>
</div>
