<% include partials/_header %>

<% include partials/_home-hero-section %>

<section class="content-container">
  <% include partials/_home-alternating-section %>
</section>

<% include partials/_footer %>
