.not-found {
  text-align: center;

  img {
    display: block;
    max-width: 100%;
    margin: $space-large auto;
    border-radius: $space-x-small;

    @include media($min: $bp-small) {
      width: 50%;
      margin: $space-xx-large auto;
    }

    @include media($min: $bp-large) {
      width: 25%;
    }
  }
}

.not-found--title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-error {
  margin-right: $space-xx-small;
  color: $color-red;
}
