.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - #{$space-x-large * 2});
  padding: 0 $space-x-large;
  background-image: linear-gradient(-20deg, $color-medium-green 0%, $color-light-green 100%);
}

.logo {
  transform: scaleX(-1);
  transition: 0.2s ease;

  &:hover {
    fill: $color-dark-green;
    transform: scale(-1.2, 1.2);
  }
}

.site-header--nav {
  display: flex;
  align-items: center;
}

.site-header--menu {
  font-family: $font-body !important;
  font-weight: 600 !important;
}

.header-link {
  font-family: $font-body !important;
  font-size: $font-body-size-smaller !important;

  &:hover {
    color: $color-dark-green;
    background-color: lighten($color-light-green, 40%) !important;
  }
}
