/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');

/* Normalize */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css');

body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background: #FFFDF9;
}

h1,
h2,
h3,
h4,
h5 {
  width: 100%;
  font-family: 'Roboto Mono', monospace;
}

p {
  line-height: 1.4;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 4rem);
  max-height: 100px;
  padding: 0 2rem;
  transition: opacity 1s ease-out;
}

.site-header::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(-20deg, #008552 0%, #50cc7f 100%);
  content: '';
  opacity: 0;
  transition: opacity 0.2s linear;
}

.site-header.sticky::before {
  opacity: 1;
}

.logo {
  transform: scaleX(-1);
  transition: 0.2s ease;
}

.logo:hover {
  fill: #008552;
  transform: scale(-1.2, 1.2);
}

.slack-button {
  max-width: 139px;
  max-height: 40px;
  transition: 0.2s ease;
}

.slack-button:hover {
  transform: scale(1.1);
}

.site-header--nav {
  max-height: 40px;
  margin-top: 1.5rem;
}

.content-container {
  flex: 1 0 auto;
  padding: 2rem;
}

.content--home-hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url('/home-hero.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.content--home-hero--info {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 2rem;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  border: 0.25rem solid #7560c9;
  border-radius: 0.75rem;
}

.content--home-hero--info h2 {
  font-family: 'Major Mono Display', monospace;
}

.emphasized-text {
  font-style: italic;
  text-decoration: underline;
}

.content--home-alternating-first {
  position: relative;
  width: 100%;
}

.content--home-alternating-first img {
  display: inline-block;
  width: 65%;
  max-width: 100%;
  border-radius: 0.75rem;
}

.content--home-alternating--info-first,
.content--home-alternating--info-second {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: calc(50% - 4rem);
  padding: 2rem;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0.75rem;
  transform: translate(0, -50%);
}

.content--home-alternating--info-first {
  right: 0;
}

.content--home-alternating--info-second {
  left: 0;
}

.content--home-alternating-second {
  position: relative;
  width: 100%;
  margin: 4rem 0 2rem;
}

.content--home-alternating-second:after {
  display: table;
  clear: both;
  content: '';
}

.content--home-alternating-second img {
  position: relative;
  z-index: -1;
  float: right;
  width: 75%;
  max-width: 100%;
  border-radius: 0.75rem;
  transform: scaleX(-1);
}

.default-link a:hover {
  color: rgb(2, 63, 107);
}

.default-link {
  display: block;
  margin-top: 2rem;
  color: rgb(0, 120, 207);
}

.site-footer {
  flex-shrink: 0;
  width: 100%;
  border-top: 1px solid #daa250;
  background: linear-gradient(90deg, #ffd700 0%, #3ad59f 100%);
}

.copyright {
  padding: 0.5rem 2rem;
  font-family: 'Major Mono Display', monospace;
  font-size: 0.75rem;
}

.copyright-char {
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 720px) {
  .site-header {
    width: calc(100% - 2rem);
    padding: 0 1rem;
  }

  .site-header--nav {
    margin-top: 1.7rem;
  }

  .content--home-hero--info {
    width: calc(100% - 4rem);
    padding: 1rem;
  }

  .content--home-alternating-second {
    margin-top: 0;
  }

  .content--home-alternating--info-first,
  .content--home-alternating--info-second {
    position: relative;
    width: 100%;
    padding: 0;
    background: none;
    transform: none;
  }

  .content--home-alternating-first img,
  .content--home-alternating-second img {
    width: 100%;
  }
}
