.icon-brain-container {
  position: relative;
  z-index: 1;
  max-width: 100px;
  margin: auto;
}

.icon-brain {
  position: relative;
  max-width: 150px;
  margin: $space-xx-large auto 0;
}

.results-container {
  position: relative;
  min-height: calc(100vh - 215px);
  padding: $space-x-large;
  font-family: $font-body;
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
}

.results-summary {
  max-width: 800px;
  padding: $space-x-large;
  margin: 0 auto;
  background: rgba($color-white, 0.5);
  border-radius: $space-small;

  h1 {
    font-family: $font-fun;
  }

  @include media($max: $bp-small) {
    padding: $space-small;
  }
}

.result-strength-container {
  max-width: 800px;
  margin: auto;
}

.summary-text {
  font-size: $font-body-size;
  line-height: 1.6;
}

.analysis-strength {
  position: absolute;
  top: 37%;
  right: 0;
  left: 0;
  z-index: 2;
  margin: auto;
  text-align: center;

  .badge {
    padding: $space-xxx-small $space-small;
    font-weight: 600;
    color: $color-white;
    background: $color-black;
  }

  .analysis-weak {
    background: #dc3545;
  }

  .analysis-moderate {
    background: #f4c242;
  }

  .analysis-strong {
    background: #27a81e;
  }

  .analysis-very-strong {
    background: #055b00;
  }
}

.analysis-strength-toolip {
  font-size: $font-body-size-smaller - 2;
}

.result-msg {
  margin-top: $space-small;
}

.plot-wrapper {
  padding: $space-x-large;
  font-family: $font-body;
  color: $color-white;
  background: linear-gradient(
    to right,
    #c06c84,
    #6c5b7b,
    #355c7d
  );
}

.plot-wrapper-needs {
  background: linear-gradient(
    to right,
    #67b26f,
    #4ca2cd
  );
}

.plot-wrapper-values {
  background: linear-gradient(
    to right,
    #8e54e9,
    #4776e6
  );
}

.plot-contents {
  max-width: 1400px;
  padding-bottom: $space-x-large;
  margin: auto;

  h1 {
    margin: $space-x-large 0;
    font-family: $font-fun;
    font-size: $space-xxx-large;
  }

  small {
    display: block;
  }

  strong {
    font-weight: 600;
  }

  ol,
  ul {
    padding-left: $space-small;
  }
}

.plot-description {
  max-width: 800px;
  margin: auto;
  font-size: $font-body-size;
}

.plot-facets {
  text-align: center;
}

.plot-facet {
  display: inline-block;
  width: calc(50% - #{$space-x-large});
  padding-right: $space-x-large;
  margin-bottom: $space-xx-large;
  text-align: left;
  vertical-align: top;

  @include media($max: $bp-large) {
    display: block;
    width: 100%;
    padding: 0;
  }

  &:last-child {
    padding-right: 0;
    margin-bottom: 0;
  }
}

.plot-description-facet {
  max-width: 800px;
  margin: auto;
  font-size: $font-body-size;

  ul {
    margin-top: $space-small;
  }

  li {
    margin-bottom: $space-small;
  }
}

.wrapper-consumer-pref {
  padding: $space-x-large;
  font-family: $font-body;
  font-size: $font-body-size;
  background: linear-gradient(to right, #ffd194, #70e1f5);

  .consumer-pref {
    max-width: 800px;
    padding: $space-x-large;
    margin: 0 auto;
    background: rgba($color-white, 0.5);

    &:first-child {
      border-top-right-radius: $space-small;
      border-top-left-radius: $space-small;
    }

    &:last-child {
      border-bottom-right-radius: $space-small;
      border-bottom-left-radius: $space-small;
    }

    @include media($max: $bp-small) {
      padding: $space-small;
    }
  }

  h2 {
    font-family: $font-fun;
  }

  ul {
    margin: $space-small 0 $space-x-large;

    li {
      margin-bottom: $space-xx-small;
    }
  }
}

.consumer-pref-success {
  font-weight: 600;
}

.consumer-pref-warning {
  font-weight: 400;
}

.consumer-pref-danger {
  text-decoration: line-through;
}

.text-center {
  text-align: center;
}
