body {
  width: 100%;
  font-family: $font-body;
  font-size: $font-body-size;
  background: linear-gradient(135deg, $color-light-tan 0%, $color-tan 100%);
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.site-content {
  flex: 1 0 auto;
  padding: $space-x-large;
}

.site-content--results {
  flex: 1 0 auto;
  background: linear-gradient(135deg, $color-light-tan 0%, $color-tan 100%);
}

h1,
h2,
h3,
h4,
h5 {
  width: 100%;
  font-family: $font-heading;

  @include media($max: $bp-small) {
    text-align: center;
  }
}
