body {
  width: 100%;
  font-family: $font-family;
  font-size: $font-body-size;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.site-content {
  flex: 1 0 auto;
  padding: $space-x-large;
}

h1,
h2,
h3,
h4,
h5 {
  display: block;
  width: 100%;

  @include media($max: $bp-small) {
    text-align: center;
  }
}
